@charset "utf-8";
/* CSS Document */

body {
	/*font-family:Verdana, Geneva, sans-serif; */
	font-family:Verdana, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:12px;
	font-weight:normal;
	color:#666666;
}

a
	{
		text-decoration:none; color:#440E56;
	}
	
a:hover
		{
			text-decoration:underline; color:#440E56;
		}
		
a.purple
	{
		font-size:14px;
		text-decoration:none; color:#440E56;
	}
	
a.purple:hover
		{
			font-size:14px;
			text-decoration:underline; color:#440E56;
		}


.goldmain 
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:18px;
		color:#291F53;
	}
	
.big 
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
	}
	
.gold
	{
		color:#B462D6;
	}
	
.white
	{
		color:#ffffff;
	}

.whitebig
	{
		color:#ffffff;
		font-size:16px
	}
	
.purple
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11;
		color:#B462D6;
	}


/* CSS Document */

